In [1]:
import pandas as pd
import csv
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report

In [2]:
train = pd.read_csv('data/train.tsv', sep="\t")

In [3]:
ben =  pd.read_csv('data/bengali_annotated_dump.csv', sep=",",names=["Relation", "Sentence", "NER1", "NER2"])
en =  pd.read_csv('data/english_annotated_dump.csv', sep=",",names=["Relation", "Sentence", "NER1", "NER2"])
hin =  pd.read_csv('data/hindi_annotated_dump.csv', sep=",",names=["Relation", "Sentence", "NER1", "NER2"])
tel =  pd.read_csv('data/telugu_annotated_dump.csv', sep=",",names=["Relation", "Sentence", "NER1", "NER2"])
val =  pd.read_csv('data/valid.tsv', sep="\t",names=["id", "Sentence", "NER1", "NER2"])
test = pd.read_csv('data/test.tsv', sep="\t",names=["id", "Sentence", "NER1", "NER2"])
en_dump =  pd.read_csv('data/en.tsv', sep="\t")

In [4]:
test.head(2)

     id                                           Sentence    NER1    NER2
0  id-0  খ্রি-মাং-স্লোন-র্ত্সানের মৃত্যুর পরেই ঝাংঝুং র...  PERSON  PERSON
1  id-1  <e1>John Stanislaus Joyce</e1> (4 July 1849 – ...  PERSON  PERSON

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3388 entries, 0 to 3387
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3388 non-null   object
 1   Sentence  3388 non-null   object
 2   NER1      3388 non-null   object
 3   NER2      3388 non-null   object
dtypes: object(4)
memory usage: 106.0+ KB

In [5]:
train.Relation.count()

10372

In [6]:
ben.Relation.count()

10525

In [7]:
en.Relation.count()

7188

In [8]:
hin.Relation.count()

19367

In [9]:
tel.Relation.count()

4961

In [11]:
# val['id-0'].count()

In [13]:
# test['id-0'].count()

In [14]:
en_dump.Relation.count()

3019

In [15]:
ben_d =  pd.read_csv('../downloaded/bengali_indore.tsv', sep="\t",names=["Relation", "Sentence", "NER1", "NER2"])
en_d =  pd.read_csv('../downloaded/english_indore.tsv', sep="\t",names=["Relation", "Sentence", "NER1", "NER2"])
hin_d =  pd.read_csv('../downloaded/hindi_indore.tsv', sep="\t",names=["Relation", "Sentence", "NER1", "NER2"])
tel_d =  pd.read_csv('../downloaded/telugu_indore.tsv', sep="\t",quoting=csv.QUOTE_NONE, encoding='utf-8',names=["Relation", "Sentence", "NER1", "NER2"])

In [16]:
tel_d.head()

,Relation,Sentence,NER1,NER2
0,producer,పరిశ్రమలో చాలా కాలం తరువాత వస్తున్న మల్టీస్టార...,WORK_OF_ART,PERSON
1,producer,మొక్కలు నాటిన అనంతరం <e2>దిల్ రాజు</e2> మహేష్ ...,WORK_OF_ART,PERSON
2,producer,<e1>సీతమ్మ వాకిట్లో సిరిమల్లె చెట్టు</e1>' చిత...,WORK_OF_ART,PERSON
3,producer,‘1996’ లో వచ్చిన ‘<e1>లిటిల్ సోల్జర్స్</e1>’ చ...,WORK_OF_ART,PERSON
4,producer,‘<e1>శంకరాభరణం</e1>’... తెలుగు తెరపై ఓ క్లాసిక...,WORK_OF_ART,PERSON

In [17]:
all_concat_rows = ben_d.append(en_d).append(hin_d).append(tel_d)

In [18]:
all_concat_rows.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31768 entries, 0 to 8153
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Relation  31768 non-null  object
 1   Sentence  31768 non-null  object
 2   NER1      31768 non-null  object
 3   NER2      31768 non-null  object
dtypes: object(4)
memory usage: 1.2+ MB

In [19]:
# print(ben_d.info())
# print(en_d.info())
# print(hin_d.info())
# print(tel_d.info())

In [20]:
new_df = test.merge(all_concat_rows, how = 'inner', on = ['Sentence'])

In [21]:
new_df

,id,Sentence,NER1_x,NER2_x,Relation,NER1_y,NER2_y
0,id-0,খ্রি-মাং-স্লোন-র্ত্সানের মৃত্যুর পরেই ঝাংঝুং র...,PERSON,PERSON,child,PERSON,PERSON
1,id-1,<e1>John Stanislaus Joyce</e1> (4 July 1849 – ...,PERSON,PERSON,child,PERSON,PERSON
2,id-2,Dulquer Salman Telugu Movie: మలయాళ నటుడు <e1>మ...,PERSON,PERSON,child,PERSON,PERSON
3,id-3,<e1>Louise Taft</e1> would give birth to their...,PERSON,PERSON,child,PERSON,PERSON
4,id-4,(జన్మక్రమాన్ని బట్టి రాముడి తర్వాత భరతుడే. <e1...,PERSON,PERSON,child,PERSON,PERSON
...,...,...,...,...,...,...,...
3306,id-3383,এছাড়া তিনি সিলভার লাইনিংস প্লেবুক চলচ্চিত্রের...,PERSON,OTHER,nominated_for,PERSON,OTHER
3307,id-3384,<e1>Shen Congwen</e1> was twice nominated for ...,PERSON,OTHER,nominated_for,PERSON,OTHER
3308,id-3385,He is best known for producing the critically ...,PERSON,OTHER,nominated_for,PERSON,OTHER
3309,id-3386,<e1>A Clockwork Orange</e1> was critically acc...,PERSON,OTHER,nominated_for,PERSON,OTHER
3310,id-3387,डॉ. <e1>सर्वपल्ली राधाकृष्णन</e1> को एक शिक्षक...,PERSON,OTHER,nominated_for,PERSON,OTHER

In [22]:
# new_df.to_csv('test_labels.csv')

In [23]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3388 entries, 0 to 3387
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3388 non-null   object
 1   Sentence  3388 non-null   object
 2   NER1      3388 non-null   object
 3   NER2      3388 non-null   object
dtypes: object(4)
memory usage: 106.0+ KB

In [24]:
print(3311-3388)

-77

In [25]:
actual_test = new_df.copy()
actual_test = actual_test.rename({'id': 'Id'}, axis=1)

In [26]:
res_bert_mask = pd.read_csv('../results/df_bert_all_data_tmasktokens.csv', sep=",")
res_bert_mask.head(3)

     Id Relation
0  id-0    child
1  id-1    child
2  id-2    child

In [27]:
actual_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3311 entries, 0 to 3310
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Id        3311 non-null   object
 1   Sentence  3311 non-null   object
 2   NER1_x    3311 non-null   object
 3   NER2_x    3311 non-null   object
 4   Relation  3311 non-null   object
 5   NER1_y    3311 non-null   object
 6   NER2_y    3311 non-null   object
dtypes: object(7)
memory usage: 206.9+ KB

In [28]:
res_bert_mask.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3388 entries, 0 to 3387
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Id        3388 non-null   object
 1   Relation  3388 non-null   object
dtypes: object(2)
memory usage: 53.1+ KB

In [29]:
df_res_bert_mask = res_bert_mask.merge(actual_test, how = 'inner', on = ['Id'])

In [30]:
df_res_bert_mask.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3311 entries, 0 to 3310
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id          3311 non-null   object
 1   Relation_x  3311 non-null   object
 2   Sentence    3311 non-null   object
 3   NER1_x      3311 non-null   object
 4   NER2_x      3311 non-null   object
 5   Relation_y  3311 non-null   object
 6   NER1_y      3311 non-null   object
 7   NER2_y      3311 non-null   object
dtypes: object(8)
memory usage: 232.8+ KB

In [31]:
df_res_bert_mask.head()

,Id,Relation_x,Sentence,NER1_x,NER2_x,Relation_y,NER1_y,NER2_y
0,id-0,child,খ্রি-মাং-স্লোন-র্ত্সানের মৃত্যুর পরেই ঝাংঝুং র...,PERSON,PERSON,child,PERSON,PERSON
1,id-1,child,<e1>John Stanislaus Joyce</e1> (4 July 1849 – ...,PERSON,PERSON,child,PERSON,PERSON
2,id-2,child,Dulquer Salman Telugu Movie: మలయాళ నటుడు <e1>మ...,PERSON,PERSON,child,PERSON,PERSON
3,id-3,child,<e1>Louise Taft</e1> would give birth to their...,PERSON,PERSON,child,PERSON,PERSON
4,id-4,spouse,(జన్మక్రమాన్ని బట్టి రాముడి తర్వాత భరతుడే. <e1...,PERSON,PERSON,child,PERSON,PERSON

In [32]:
print(classification_report(df_res_bert_mask['Relation_x'], df_res_bert_mask['Relation_y'],))

                                      precision    recall  f1-score   support

                      award_received       0.97      0.97      0.97       219
                             capital       0.97      0.98      0.98       105
                          capital_of       0.97      0.96      0.97        81
                               child       0.87      0.88      0.88       223
                            director       1.00      1.00      1.00       315
              discoverer_or_inventor       0.99      0.99      0.99        99
                            employer       1.00      0.97      0.99       143
                              father       0.90      0.81      0.85       213
                          founded_by       0.95      0.99      0.97        90
                              mother       0.81      0.85      0.83       142
                       nominated_for       0.89      0.81      0.85        21
                          occupation       0.84      0.92      0.88       124
original_language_of_film_or_TV_show       1.00      1.00      1.00       135
                 parent_organization       0.92      0.95      0.93       131
                         participant       1.00      1.00      1.00        99
                      place_of_birth       1.00      0.98      0.99        64
                      place_of_death       0.98      0.98      0.98        48
                       position_held       0.93      0.88      0.90       161
                             sibling       0.88      0.93      0.91       130
                               sport       0.99      0.98      0.98       194
                              spouse       0.93      0.93      0.93       228
                          student_of       0.92      1.00      0.96        58
                          subsidiary       0.93      0.89      0.91       102
                           tributary       1.00      1.00      1.00        97
                              winner       0.99      1.00      0.99        89

                            accuracy                           0.94      3311
                           macro avg       0.95      0.95      0.95      3311
                        weighted avg       0.94      0.94      0.94      3311

In [33]:
def get_cr(pred_file, res_df):
    res_bert = pd.read_csv(pred_file, sep=",")
    df_res_bert = res_bert.merge(res_df, how = 'inner', on = ['Id'])
    cr = classification_report(df_res_bert['Relation_x'], df_res_bert['Relation_y'], digits=5)
    # print(cr)
    return cr

In [34]:
print(get_cr('../results/df_bert_all_data_tmasktokens.csv', actual_test))

                                      precision    recall  f1-score   support

                      award_received    0.96818   0.97260   0.97039       219
                             capital    0.97170   0.98095   0.97630       105
                          capital_of    0.97500   0.96296   0.96894        81
                               child    0.87168   0.88341   0.87751       223
                            director    1.00000   1.00000   1.00000       315
              discoverer_or_inventor    0.98990   0.98990   0.98990        99
                            employer    1.00000   0.97203   0.98582       143
                              father    0.89637   0.81221   0.85222       213
                          founded_by    0.94681   0.98889   0.96739        90
                              mother    0.81208   0.85211   0.83162       142
                       nominated_for    0.89474   0.80952   0.85000        21
                          occupation    0.83824   0.91935   0.87692       124
original_language_of_film_or_TV_show    1.00000   1.00000   1.00000       135
                 parent_organization    0.91852   0.94656   0.93233       131
                         participant    1.00000   1.00000   1.00000        99
                      place_of_birth    1.00000   0.98438   0.99213        64
                      place_of_death    0.97917   0.97917   0.97917        48
                       position_held    0.92763   0.87578   0.90096       161
                             sibling    0.88321   0.93077   0.90637       130
                               sport    0.98958   0.97938   0.98446       194
                              spouse    0.93363   0.92544   0.92952       228
                          student_of    0.92063   1.00000   0.95868        58
                          subsidiary    0.92857   0.89216   0.91000       102
                           tributary    1.00000   1.00000   1.00000        97
                              winner    0.98889   1.00000   0.99441        89

                            accuracy                        0.94322      3311
                           macro avg    0.94538   0.94630   0.94540      3311
                        weighted avg    0.94384   0.94322   0.94315      3311

In [35]:
print(get_cr('../results/Latest_Classifiers_Weights_Submission.csv', actual_test))

                                      precision    recall  f1-score   support

                      award_received    0.91818   0.98537   0.95059       205
                             capital    0.97170   0.97170   0.97170       106
                          capital_of    0.97500   0.97500   0.97500        80
                               child    0.84956   0.89720   0.87273       214
                            director    1.00000   0.99369   0.99684       317
              discoverer_or_inventor    0.97980   0.98980   0.98477        98
                            employer    0.99281   0.96503   0.97872       143
                              father    0.88083   0.84577   0.86294       201
                          founded_by    0.94681   0.89899   0.92228        99
                              mother    0.86577   0.90210   0.88356       143
                       nominated_for    0.84211   0.47059   0.60377        34
                          occupation    0.99265   0.99265   0.99265       136
original_language_of_film_or_TV_show    1.00000   1.00000   1.00000       135
                 parent_organization    0.91852   0.91176   0.91513       136
                         participant    0.97980   0.98980   0.98477        98
                      place_of_birth    0.95238   0.95238   0.95238        63
                      place_of_death    0.95833   0.92000   0.93878        50
                       position_held    0.95395   0.99315   0.97315       146
                             sibling    0.84672   0.87879   0.86245       132
                               sport    1.00000   1.00000   1.00000       192
                              spouse    0.94690   0.88430   0.91453       242
                          student_of    0.95238   0.95238   0.95238        63
                          subsidiary    0.85714   0.93333   0.89362        90
                           tributary    1.00000   1.00000   1.00000        97
                              winner    1.00000   0.98901   0.99448        91

                            accuracy                        0.94352      3311
                           macro avg    0.94325   0.93171   0.93509      3311
                        weighted avg    0.94395   0.94352   0.94286      3311

### BERT with tokens vs ROBERTa without tokens- best variation comparison

In [36]:
# 95.779%
print(get_cr('../results/df_bert_all_data_train_test.csv', actual_test))

                                      precision    recall  f1-score   support

                      award_received    0.88636   0.97990   0.93079       199
                             capital    0.96226   0.99029   0.97608       103
                          capital_of    0.98750   0.96341   0.97531        82
                               child    0.91593   0.94091   0.92825       220
                            director    0.99683   0.99367   0.99525       316
              discoverer_or_inventor    0.95960   0.98958   0.97436        96
                            employer    0.99281   1.00000   0.99639       138
                              father    0.94819   0.91500   0.93130       200
                          founded_by    0.95745   0.90909   0.93264        99
                              mother    0.93289   0.91447   0.92359       152
                       nominated_for    0.78947   0.38462   0.51724        39
                          occupation    1.00000   0.99270   0.99634       137
original_language_of_film_or_TV_show    1.00000   1.00000   1.00000       135
                 parent_organization    0.96296   0.91549   0.93863       142
                         participant    0.96970   1.00000   0.98462        96
                      place_of_birth    0.98413   0.96875   0.97638        64
                      place_of_death    0.95833   0.95833   0.95833        48
                       position_held    0.98684   1.00000   0.99338       150
                             sibling    0.88321   0.93077   0.90637       130
                               sport    1.00000   1.00000   1.00000       192
                              spouse    0.95575   0.93913   0.94737       230
                          student_of    1.00000   1.00000   1.00000        63
                          subsidiary    0.89796   0.94624   0.92147        93
                           tributary    1.00000   1.00000   1.00000        97
                              winner    0.98889   0.98889   0.98889        90

                            accuracy                        0.95983      3311
                           macro avg    0.95668   0.94485   0.94772      3311
                        weighted avg    0.95956   0.95983   0.95858      3311

In [37]:
# 96.546%
print(get_cr('../results/Roberta_Without_Tokens-3.csv', actual_test))

                                      precision    recall  f1-score   support

                      award_received    0.98182   0.98182   0.98182       220
                             capital    0.98113   0.98113   0.98113       106
                          capital_of    0.97500   0.98734   0.98113        79
                               child    0.90708   0.96244   0.93394       213
                            director    0.99365   0.99051   0.99208       316
              discoverer_or_inventor    0.96970   0.98969   0.97959        97
                            employer    0.99281   0.97183   0.98221       142
                              father    0.96891   0.89474   0.93035       209
                          founded_by    0.96809   0.88350   0.92386       103
                              mother    0.93289   0.93919   0.93603       148
                       nominated_for    0.78947   0.78947   0.78947        19
                          occupation    1.00000   0.99270   0.99634       137
original_language_of_film_or_TV_show    1.00000   1.00000   1.00000       135
                 parent_organization    0.92593   0.94697   0.93633       132
                         participant    0.97980   1.00000   0.98980        97
                      place_of_birth    0.98413   0.96875   0.97638        64
                      place_of_death    0.97917   0.95918   0.96907        49
                       position_held    0.96053   0.99320   0.97659       147
                             sibling    0.92701   0.92701   0.92701       137
                               sport    1.00000   1.00000   1.00000       192
                              spouse    0.94248   0.94667   0.94457       225
                          student_of    0.95238   1.00000   0.97561        60
                          subsidiary    0.91837   0.90909   0.91371        99
                           tributary    1.00000   1.00000   1.00000        97
                              winner    0.97778   1.00000   0.98876        88

                            accuracy                        0.96557      3311
                           macro avg    0.96032   0.96061   0.96023      3311
                        weighted avg    0.96591   0.96557   0.96549      3311

### BERT with masking vs BERT with tokens- Masking

In [38]:
# 94.037%
print(get_cr('../results/df_bert_all_data_tmasktokens.csv', actual_test))

                                      precision    recall  f1-score   support

                      award_received    0.96818   0.97260   0.97039       219
                             capital    0.97170   0.98095   0.97630       105
                          capital_of    0.97500   0.96296   0.96894        81
                               child    0.87168   0.88341   0.87751       223
                            director    1.00000   1.00000   1.00000       315
              discoverer_or_inventor    0.98990   0.98990   0.98990        99
                            employer    1.00000   0.97203   0.98582       143
                              father    0.89637   0.81221   0.85222       213
                          founded_by    0.94681   0.98889   0.96739        90
                              mother    0.81208   0.85211   0.83162       142
                       nominated_for    0.89474   0.80952   0.85000        21
                          occupation    0.83824   0.91935   0.87692       124
original_language_of_film_or_TV_show    1.00000   1.00000   1.00000       135
                 parent_organization    0.91852   0.94656   0.93233       131
                         participant    1.00000   1.00000   1.00000        99
                      place_of_birth    1.00000   0.98438   0.99213        64
                      place_of_death    0.97917   0.97917   0.97917        48
                       position_held    0.92763   0.87578   0.90096       161
                             sibling    0.88321   0.93077   0.90637       130
                               sport    0.98958   0.97938   0.98446       194
                              spouse    0.93363   0.92544   0.92952       228
                          student_of    0.92063   1.00000   0.95868        58
                          subsidiary    0.92857   0.89216   0.91000       102
                           tributary    1.00000   1.00000   1.00000        97
                              winner    0.98889   1.00000   0.99441        89

                            accuracy                        0.94322      3311
                           macro avg    0.94538   0.94630   0.94540      3311
                        weighted avg    0.94384   0.94322   0.94315      3311

In [39]:
# 95.779%
print(get_cr('../results/df_bert_all_data_train_test.csv', actual_test))

                                      precision    recall  f1-score   support

                      award_received    0.88636   0.97990   0.93079       199
                             capital    0.96226   0.99029   0.97608       103
                          capital_of    0.98750   0.96341   0.97531        82
                               child    0.91593   0.94091   0.92825       220
                            director    0.99683   0.99367   0.99525       316
              discoverer_or_inventor    0.95960   0.98958   0.97436        96
                            employer    0.99281   1.00000   0.99639       138
                              father    0.94819   0.91500   0.93130       200
                          founded_by    0.95745   0.90909   0.93264        99
                              mother    0.93289   0.91447   0.92359       152
                       nominated_for    0.78947   0.38462   0.51724        39
                          occupation    1.00000   0.99270   0.99634       137
original_language_of_film_or_TV_show    1.00000   1.00000   1.00000       135
                 parent_organization    0.96296   0.91549   0.93863       142
                         participant    0.96970   1.00000   0.98462        96
                      place_of_birth    0.98413   0.96875   0.97638        64
                      place_of_death    0.95833   0.95833   0.95833        48
                       position_held    0.98684   1.00000   0.99338       150
                             sibling    0.88321   0.93077   0.90637       130
                               sport    1.00000   1.00000   1.00000       192
                              spouse    0.95575   0.93913   0.94737       230
                          student_of    1.00000   1.00000   1.00000        63
                          subsidiary    0.89796   0.94624   0.92147        93
                           tributary    1.00000   1.00000   1.00000        97
                              winner    0.98889   0.98889   0.98889        90

                            accuracy                        0.95983      3311
                           macro avg    0.95668   0.94485   0.94772      3311
                        weighted avg    0.95956   0.95983   0.95858      3311

### RoBERTa with class weight imb focal loss vs RoBERTa without tokens- class weight imbalance and focal loss

In [40]:
# 94.244%
print(get_cr('../results/Latest_Classifiers_Weights_Submission.csv', actual_test))

                                      precision    recall  f1-score   support

                      award_received    0.91818   0.98537   0.95059       205
                             capital    0.97170   0.97170   0.97170       106
                          capital_of    0.97500   0.97500   0.97500        80
                               child    0.84956   0.89720   0.87273       214
                            director    1.00000   0.99369   0.99684       317
              discoverer_or_inventor    0.97980   0.98980   0.98477        98
                            employer    0.99281   0.96503   0.97872       143
                              father    0.88083   0.84577   0.86294       201
                          founded_by    0.94681   0.89899   0.92228        99
                              mother    0.86577   0.90210   0.88356       143
                       nominated_for    0.84211   0.47059   0.60377        34
                          occupation    0.99265   0.99265   0.99265       136
original_language_of_film_or_TV_show    1.00000   1.00000   1.00000       135
                 parent_organization    0.91852   0.91176   0.91513       136
                         participant    0.97980   0.98980   0.98477        98
                      place_of_birth    0.95238   0.95238   0.95238        63
                      place_of_death    0.95833   0.92000   0.93878        50
                       position_held    0.95395   0.99315   0.97315       146
                             sibling    0.84672   0.87879   0.86245       132
                               sport    1.00000   1.00000   1.00000       192
                              spouse    0.94690   0.88430   0.91453       242
                          student_of    0.95238   0.95238   0.95238        63
                          subsidiary    0.85714   0.93333   0.89362        90
                           tributary    1.00000   1.00000   1.00000        97
                              winner    1.00000   0.98901   0.99448        91

                            accuracy                        0.94352      3311
                           macro avg    0.94325   0.93171   0.93509      3311
                        weighted avg    0.94395   0.94352   0.94286      3311

In [41]:
# 96.546%
print(get_cr('../results/Roberta_Without_Tokens-3.csv', actual_test))

                                      precision    recall  f1-score   support

                      award_received    0.98182   0.98182   0.98182       220
                             capital    0.98113   0.98113   0.98113       106
                          capital_of    0.97500   0.98734   0.98113        79
                               child    0.90708   0.96244   0.93394       213
                            director    0.99365   0.99051   0.99208       316
              discoverer_or_inventor    0.96970   0.98969   0.97959        97
                            employer    0.99281   0.97183   0.98221       142
                              father    0.96891   0.89474   0.93035       209
                          founded_by    0.96809   0.88350   0.92386       103
                              mother    0.93289   0.93919   0.93603       148
                       nominated_for    0.78947   0.78947   0.78947        19
                          occupation    1.00000   0.99270   0.99634       137
original_language_of_film_or_TV_show    1.00000   1.00000   1.00000       135
                 parent_organization    0.92593   0.94697   0.93633       132
                         participant    0.97980   1.00000   0.98980        97
                      place_of_birth    0.98413   0.96875   0.97638        64
                      place_of_death    0.97917   0.95918   0.96907        49
                       position_held    0.96053   0.99320   0.97659       147
                             sibling    0.92701   0.92701   0.92701       137
                               sport    1.00000   1.00000   1.00000       192
                              spouse    0.94248   0.94667   0.94457       225
                          student_of    0.95238   1.00000   0.97561        60
                          subsidiary    0.91837   0.90909   0.91371        99
                           tributary    1.00000   1.00000   1.00000        97
                              winner    0.97778   1.00000   0.98876        88

                            accuracy                        0.96557      3311
                           macro avg    0.96032   0.96061   0.96023      3311
                        weighted avg    0.96591   0.96557   0.96549      3311

### BERT with duplication and with tokens- duplication

In [43]:
# 96.221%
print(get_cr('../results/df_bert_all_data_train_test_token_dups_extratokens_new.csv', actual_test))

                                      precision    recall  f1-score   support

                      award_received    0.87727   0.98469   0.92788       196
                             capital    0.98113   0.99048   0.98578       105
                          capital_of    0.98750   0.97531   0.98137        81
                               child    0.92920   0.94595   0.93750       222
                            director    1.00000   1.00000   1.00000       315
              discoverer_or_inventor    0.98990   0.98990   0.98990        99
                            employer    1.00000   0.99286   0.99642       140
                              father    0.93782   0.91878   0.92821       197
                          founded_by    0.97872   0.98925   0.98396        93
                              mother    0.93289   0.93919   0.93603       148
                       nominated_for    0.84211   0.38095   0.52459        42
                          occupation    1.00000   0.98551   0.99270       138
original_language_of_film_or_TV_show    1.00000   1.00000   1.00000       135
                 parent_organization    0.94815   0.92754   0.93773       138
                         participant    1.00000   1.00000   1.00000        99
                      place_of_birth    0.96825   0.98387   0.97600        62
                      place_of_death    0.97917   0.95918   0.96907        49
                       position_held    0.98684   1.00000   0.99338       150
                             sibling    0.87591   0.96000   0.91603       125
                               sport    1.00000   0.99482   0.99740       193
                              spouse    0.96903   0.92017   0.94397       238
                          student_of    1.00000   0.98438   0.99213        64
                          subsidiary    0.89796   0.92632   0.91192        95
                           tributary    1.00000   1.00000   1.00000        97
                              winner    1.00000   1.00000   1.00000        90

                            accuracy                        0.96376      3311
                           macro avg    0.96327   0.94997   0.95288      3311
                        weighted avg    0.96398   0.96376   0.96243      3311

In [42]:
# 95.779%
print(get_cr('../results/df_bert_all_data_train_test.csv', actual_test))

                                      precision    recall  f1-score   support

                      award_received    0.88636   0.97990   0.93079       199
                             capital    0.96226   0.99029   0.97608       103
                          capital_of    0.98750   0.96341   0.97531        82
                               child    0.91593   0.94091   0.92825       220
                            director    0.99683   0.99367   0.99525       316
              discoverer_or_inventor    0.95960   0.98958   0.97436        96
                            employer    0.99281   1.00000   0.99639       138
                              father    0.94819   0.91500   0.93130       200
                          founded_by    0.95745   0.90909   0.93264        99
                              mother    0.93289   0.91447   0.92359       152
                       nominated_for    0.78947   0.38462   0.51724        39
                          occupation    1.00000   0.99270   0.99634       137
original_language_of_film_or_TV_show    1.00000   1.00000   1.00000       135
                 parent_organization    0.96296   0.91549   0.93863       142
                         participant    0.96970   1.00000   0.98462        96
                      place_of_birth    0.98413   0.96875   0.97638        64
                      place_of_death    0.95833   0.95833   0.95833        48
                       position_held    0.98684   1.00000   0.99338       150
                             sibling    0.88321   0.93077   0.90637       130
                               sport    1.00000   1.00000   1.00000       192
                              spouse    0.95575   0.93913   0.94737       230
                          student_of    1.00000   1.00000   1.00000        63
                          subsidiary    0.89796   0.94624   0.92147        93
                           tributary    1.00000   1.00000   1.00000        97
                              winner    0.98889   0.98889   0.98889        90

                            accuracy                        0.95983      3311
                           macro avg    0.95668   0.94485   0.94772      3311
                        weighted avg    0.95956   0.95983   0.95858      3311

### Roberta with dups

In [44]:

print(get_cr('../results/roberta_withdups.csv', actual_test))

                                      precision    recall  f1-score   support

                      award_received    0.95000   0.99052   0.96984       211
                             capital    0.98113   0.98113   0.98113       106
                          capital_of    0.97500   0.98734   0.98113        79
                               child    0.92478   0.96313   0.94357       217
                            director    0.99048   0.99363   0.99205       314
              discoverer_or_inventor    1.00000   0.98020   0.99000       101
                            employer    0.98561   0.98561   0.98561       139
                              father    0.97927   0.90431   0.94030       209
                          founded_by    0.94681   0.87255   0.90816       102
                              mother    0.91946   0.95804   0.93836       143
                       nominated_for    0.89474   0.60714   0.72340        28
                          occupation    1.00000   0.99270   0.99634       137
original_language_of_film_or_TV_show    1.00000   1.00000   1.00000       135
                 parent_organization    0.94074   0.93382   0.93727       136
                         participant    0.96970   0.98969   0.97959        97
                      place_of_birth    0.96825   0.96825   0.96825        63
                      place_of_death    0.97917   0.95918   0.96907        49
                       position_held    0.98684   0.99338   0.99010       151
                             sibling    0.92701   0.94776   0.93727       134
                               sport    1.00000   1.00000   1.00000       192
                              spouse    0.93805   0.93392   0.93598       227
                          student_of    0.95238   0.98361   0.96774        61
                          subsidiary    0.87755   0.93478   0.90526        92
                           tributary    1.00000   1.00000   1.00000        97
                              winner    1.00000   0.98901   0.99448        91

                            accuracy                        0.96527      3311
                           macro avg    0.96348   0.95399   0.95740      3311
                        weighted avg    0.96555   0.96527   0.96492      3311

### BERT wihtout tokens

In [45]:
print(get_cr('../results/df_bert_all_data_train_test_notoken.csv', actual_test))

                                      precision    recall  f1-score   support

                      award_received    0.81818   0.98361   0.89330       183
                             capital    0.98113   0.97196   0.97653       107
                          capital_of    0.97500   0.98734   0.98113        79
                               child    0.91593   0.82470   0.86792       251
                            director    0.99683   0.98433   0.99054       319
              discoverer_or_inventor    0.96970   0.97959   0.97462        98
                            employer    0.97122   0.98540   0.97826       137
                              father    0.78238   0.91515   0.84358       165
                          founded_by    0.92553   0.89691   0.91099        97
                              mother    0.75839   0.94167   0.84015       120
                       nominated_for    0.84211   0.30189   0.44444        53
                          occupation    0.98529   0.99259   0.98893       135
original_language_of_film_or_TV_show    1.00000   1.00000   1.00000       135
                 parent_organization    0.94815   0.96241   0.95522       133
                         participant    0.97980   0.98980   0.98477        98
                      place_of_birth    0.90476   0.98276   0.94215        58
                      place_of_death    0.97917   0.92157   0.94949        51
                       position_held    0.98026   0.97386   0.97705       153
                             sibling    0.87591   0.79470   0.83333       151
                               sport    1.00000   0.99482   0.99740       193
                              spouse    0.93363   0.87190   0.90171       242
                          student_of    0.95238   0.92308   0.93750        65
                          subsidiary    0.93878   0.92000   0.92929       100
                           tributary    1.00000   1.00000   1.00000        97
                              winner    1.00000   0.98901   0.99448        91

                            accuracy                        0.93325      3311
                           macro avg    0.93658   0.92356   0.92371      3311
                        weighted avg    0.93619   0.93325   0.93123      3311

In [52]:
df_res_bert.head()

,Id,Relation_x,Sentence,NER1_x,NER2_x,Relation_y,NER1_y,NER2_y
0,id-0,child,খ্রি-মাং-স্লোন-র্ত্সানের মৃত্যুর পরেই ঝাংঝুং র...,PERSON,PERSON,child,PERSON,PERSON
1,id-1,child,<e1>John Stanislaus Joyce</e1> (4 July 1849 – ...,PERSON,PERSON,child,PERSON,PERSON
2,id-2,child,Dulquer Salman Telugu Movie: మలయాళ నటుడు <e1>మ...,PERSON,PERSON,child,PERSON,PERSON
3,id-3,child,<e1>Louise Taft</e1> would give birth to their...,PERSON,PERSON,child,PERSON,PERSON
4,id-4,child,(జన్మక్రమాన్ని బట్టి రాముడి తర్వాత భరతుడే. <e1...,PERSON,PERSON,child,PERSON,PERSON

In [64]:
res_bert.head()

     Id Relation
0  id-0    child
1  id-1    child
2  id-2    child
3  id-3    child
4  id-4    child

In [48]:
res_bert = pd.read_csv('../results/Latest_Classifiers_Weights_Submission.csv', sep=",")
df_res_bert = res_bert.merge(actual_test, how = 'inner', on = ['Id'])

In [60]:
# from sklearn.metrics import accuracy_score
# score = res_bert['id']
df_res_bert[df_res_bert['Relation_x']=='nominated_for']['Id'].count()

34

In [65]:
res_bert[res_bert['Id']==df_res_bert[df_res_bert['Relation_x']=='nominated_for']['Id']]['Id'].count()

ValueError: Can only compare identically-labeled Series objects

In [56]:
df_res_bert

,Id,Relation_x,Sentence,NER1_x,NER2_x,Relation_y,NER1_y,NER2_y
0,id-0,child,খ্রি-মাং-স্লোন-র্ত্সানের মৃত্যুর পরেই ঝাংঝুং র...,PERSON,PERSON,child,PERSON,PERSON
1,id-1,child,<e1>John Stanislaus Joyce</e1> (4 July 1849 – ...,PERSON,PERSON,child,PERSON,PERSON
2,id-2,child,Dulquer Salman Telugu Movie: మలయాళ నటుడు <e1>మ...,PERSON,PERSON,child,PERSON,PERSON
3,id-3,child,<e1>Louise Taft</e1> would give birth to their...,PERSON,PERSON,child,PERSON,PERSON
4,id-4,child,(జన్మక్రమాన్ని బట్టి రాముడి తర్వాత భరతుడే. <e1...,PERSON,PERSON,child,PERSON,PERSON
...,...,...,...,...,...,...,...,...
3306,id-3383,nominated_for,এছাড়া তিনি সিলভার লাইনিংস প্লেবুক চলচ্চিত্রের...,PERSON,OTHER,nominated_for,PERSON,OTHER
3307,id-3384,nominated_for,<e1>Shen Congwen</e1> was twice nominated for ...,PERSON,OTHER,nominated_for,PERSON,OTHER
3308,id-3385,nominated_for,He is best known for producing the critically ...,PERSON,OTHER,nominated_for,PERSON,OTHER
3309,id-3386,nominated_for,<e1>A Clockwork Orange</e1> was critically acc...,PERSON,OTHER,nominated_for,PERSON,OTHER
3310,id-3387,nominated_for,डॉ. <e1>सर्वपल्ली राधाकृष्णन</e1> को एक शिक्षक...,PERSON,OTHER,nominated_for,PERSON,OTHER